.App {
  text-align: center;
}



 @media screen and (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
.FieldArray{
  display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
  #createGroup {
    width: 100%;
    height: fit-content;
  }


  .groupimg,
  .selectimg,
  .singleImg {
    width: fit-content;
    margin-left: 0px;
  }

  .termDiv {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .displayTermBox {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

}

  






 
